
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner" style="max-height: 100vh; overflow: scroll;">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menü</h2>
									</header>
									<ul>
										<li><a href="{{site.url}}/index.html">Homepage</a></li>
										<li><a href="{{site.url}}/pages/fsr.html">Wir über uns</a></li>
										<li>
											<span class="opener">Fachgruppen</span>
											<ul>
												<li><a href="{{site.url}}/pages/informatik.html">Informatik</a></li>
												<li><a href="{{site.url}}/pages/mathematik.html">Mathematik</a></li>
												
											</ul>
										</li>
										<li>
											<span class="opener">Aktuelles und Termine</span>
											<ul>
												<li><a href="{{site.url}}/pages/kalender.html">Kalender</a></li>
												<li><a href="{{site.url}}/pages/aktuelles.html">Aktuelles</a><li>
												<li><a href="https://sit.fg.informatik.uni-goettingen.de/">SIT</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">Orientierungsphase</span>
											<ul>
												<li><a href="{{site.url}}/pages/Info-OPhase.html">Informatik O-Phase</a></li>
												<li><a href="{{site.url}}/pages/Mathe-OPhase.html">Mathematik O-Phase</a></li>	
												<li><a href="{{site.url}}/pages/Master-OPhase.html">Master O-Phase</a></li>
												<li><a href="{{site.url}}/pages/Leitfaden.html">Leitfaden für Studienanfänger</a></li>
											</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Aktuelles</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="{{site.url}}/images/stammtisch.jpg" alt="" /></a>
											<p>Der FSR veranstaltet zwei mal monatlich Fachschaftsstammtische.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="{{site.url}}/pages/aktuelles.html" class="button">Mehr</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Kontakt</h2>
									</header>
									<p><b>FachschaftsratsprecherIn:</b> <br>Charlotte Ackva <br>
									<b> stellv. FachschaftsratsprecherIn:</b><br> Anna Bösemann</p>
									<ul class="contact">
										<li class="fa-envelope-o"><a href="#">max.mustermann@stud.uni-goettingen.de</a></li>
										<li class="fa-phone">63247 873246</li>
										<li class="fa-home">Goldschmidtstraße 7<br />
										37075 Göttingen</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Alexander Wähling. All rights reserved.</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{site.url}}/assets/js/jquery.min.js"></script>
			<script src="{{site.url}}/assets/js/skel.min.js"></script>
			<script src="{{site.url}}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{site.url}}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{site.url}}/assets/js/main.js"></script>

	</body>
</html>
